body {
  margin: 0;
  padding: 0;
  font-family: Roboto, helvetica neue, helvetica, sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
h1{
  font-family: Montserrat, helvetica neue, helvetica, sans-serif;
  color: #e75348;
  font-size: 30px;
  text-decoration: underline;
}

.header span{
  font-size: 13px;
  text-decoration: none;
  color: #C9C9C9;
}
a, button, input[type=submit]{
  cursor: pointer;
  outline: none;
}
input{
  outline: none;
}


.button{
  border: none;
  background-color: #eb4a42;
  color: white;
  padding: 10px;
  border-radius: 3px;
  transition: background-color .2s;
}
.button:hover{
  border: none;
  background-color: #F86159;
  color: white;
  padding: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.app{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  background-color: #F9F9F9;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 3px;
}

.links_form{
  display: flex;
  margin-bottom: 40px;
}

.links_form__text::placeholder{
  color: #C6C6C6;
}
.links_form__text{
  background-color: #EAE8E8;
  flex: 1;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.links_form__submit{
  margin-left: 10px;
}

.links_form__submit[disabled]{
  background-color: #EAE8E8;
  color: #C6C6C6;
}


.links_table{
  width: 100%;
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
}


.links_table th{
  text-transform: uppercase;
  color: #BFBFBF;
  font-weight: 500;
  padding-bottom: 30px;
  text-align: center;
}

.links_table th:first-child{
  text-align: left;
  padding-left: 10px;
}

td{
  padding: 12px 0;
  vertical-align: middle;
  color: gray;
}

.link_item__main{
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

.link_item__main:before{
  content: "Link Copied";
  color: #eb4a42;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  /* background-color: rgba(249, 249, 249, 0.6); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  transform: translateY(100%);
  transition: transform .3s;
}
.link_item__main--copy:before{
  transform: translateY(0);
}

.link_item__main--copy div, .link_item__main--copy a{
  opacity: 0.4;
}

.link_item__main--new:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #eb4a42;
  width: 4px;

}

.link_item__link{
  color: #616161;
  text-decoration: none;
  transition: opacity .3s;
}

.link_item__link span{
  color: #eb4a42;
}

.link_item__copy{
  margin-left: 20px;
  display: none;
}  

.link_item__link:hover .link_item__copy{
  display: inline-block
}

.link_item__original{
  color: #C3C3C3;
  margin-top: 10px;
  transition: opacity .3s;
}

.link_item__visits{
  width: 60px;
  text-align: center;
}

.link_item__time{
  text-align: center;
  width: 100px;
}

h4{
  color: gray;
  margin-bottom: 30px;
}

h4 a{
  color: #eb4a42;
  font-size: 0.8em;
  margin-left: 20px;
}